<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

    <head>
        <title>Otsikko</title>
        <meta charset="utf-8" />
    </head>

    <body>
        <h1><span th:text="${keskustelu.otsikko}"></span></h1>
        <p><span th:text="${keskustelu.avaus}"></span></p>
        
        <ol>
            <li th:each="viesti: ${viestit}">
                <span th:text="${viesti.viestiteksti}">opiskelijan nimi</span> 
            </li>
        </ol>
        
        <p><a th:href="${'/alueet/' + alue.id}">Takaisin alueen keskusteluille</a></p>
        <p><a th:href="${'/alueet'}">Takaisin keskustelualueille</a></p>
    </body>
</html>
